<h1>Vérifiez votre adresse e-mail!</h1>

<p>
	Merci de nous avoir rejoint ! Veuillez cliquer sur le lien ci-dessous afin de vérifier votre e-mail.
	<br><br>
	<a href="{{ signedUrl }}">Vérifiez votre e-mail et connectez-vous
	</a>.
				    Ce lien expirera dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	A bientôt !
</p>
