{% extends 'partials/layout.html.twig' %}

{% block title %}Modifier mon profil
{% endblock %}

{% block main %}
	<h1>Modifier mon profil</h1>

	{% for message in app.flashes('warning') %}
		<div>
			{{ message }}
		</div>
	{% endfor %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit">Enregistrer</button>
	{{ form_end(form) }}
{% endblock %}
