{% extends 'partials/layout.html.twig' %}

{% block title %}New Categorie
{% endblock %}

{% block main %}
	<h1>Create new Categorie</h1>

	{{ include('back/categorie/_form.html.twig') }}

	<a href="{{ path('back_app_categorie_index') }}">back to list</a>
{% endblock %}
