{% extends 'partials/layout.html.twig' %}

{% block title %}Edit Devis
{% endblock %}

{% block main %}
	<h1>Editer le Devis</h1>

	{{ include('back/devis/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('back_app_devis_index') }}">Voir tous les devis</a>

	{{ include('back/devis/_delete_form.html.twig') }}
{% endblock %}
