{% extends 'partials/layout.html.twig' %}

{% block title %}New Devis
{% endblock %}

{% block main %}
	<div class="grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-3">
		<div class="px-4 sm:px-0">
			<h2 class="text-base font-semibold leading-7 text-gray-900">Devis</h2>
			<p class="mt-1 text-sm leading-6 text-gray-600">Ajouter un nouveau devis</p>
		</div>
		{{ include('back/devis/_form.html.twig') }}

	</div>
{% endblock %}
