{% extends 'base.html.twig' %}

{% block title %}New Devis
{% endblock %}

{% block body %}
	<h1>Create new Devis</h1>

	{{ include('back/devis/_form.html.twig') }}

	<a href="{{ path('back_app_devis_index') }}">back to list</a>
{% endblock %}
